<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
		<title>sup</title>
	</head>
	<body>
		<div class="nav-bar"><div class="logo"><%= image_tag 'logo.png'%></div></div>
		<div class="quote">“Computer science education cannot make anybody an expert programmer any more than studying brushes and pigment can make somebody an expert painter.”
- Eric S. Raymond
</div>
		<div class="blog"></div>
	</body>
</html>
